.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 300px;
  border: 3px solid #238f1c;
  border-radius: 10px;
  background-color: #b3ffae79;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.container.iscar {
  border-color: #ff6464;
  background-color: #ff878767;
}

.car {
  width: 100%;
  user-select: none;
}

.number {
  color: #ff6464;
  font-size: 3rem;
  user-select: none;
}
